<li id="experience-<%= experience.id %>">
  <span class="company"><%= experience.company %></span>
  <p><%= experience.started_at.strftime("%B")[0..2] + "/" + experience.started_at.year.to_s  %>
    <% if experience.current? %>
      <span> - Present</span>
    <% else %>
      <span> - <%= experience.ended_at.strftime("%B")[0..2] + "/" + experience.ended_at.year.to_s  %></span>
    <% end %>
  </p>
  <% if experience.roles %>
    <span class="roles"> 
      <%= experience.roles %>
    </span>
  <% end %>
</li>
