<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company profile from being created:</h2>

      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  
  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
